
TiodorWork.txt
Project/FinalParser/ipch/FINALPARSER-98cf7f2d/FINALPARSER-304734c3.ipch
Project/FinalParser/FinalParser/Debug/FinalParser.vcxprojResolveAssemblyReference.cache
Project/FinalParser/FinalParser.VC.db
FinalParser Release/parsedFile.csv
FinalParser Release/parsedFile.csv
